<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="info">
    <Properties>
        <Property name="defaultPattern">[%d{ISO8601}] [%c{1.1.1.2.}] [%t] [%p] %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${defaultPattern}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
