name: Create GitHub release
on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
jobs:
  create_release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Generate changelog
        uses: orhun/git-cliff-action@v4
        with:
          args: -vv --latest --strip all
      - name: Create release
        run: gh release create ${{ github.ref_name }} -F git-cliff/CHANGELOG.md
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
